<div class="hero-wrapper">
    <div class="carousel slide" data-interval="4000" data-ride="carousel" id="carousel">
        <ol class="carousel-indicators">
            <li class="" data-slide-to="0" data-target="#carousel"></li>
            <li data-slide-to="1" data-target="#carousel" class="active"></li>
            <li data-slide-to="2" data-target="#carousel"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item"><a href="https://seltrol.kyklo.co/buyers/sign_in" target="_blank">
                <img class="img-fluid" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDEvMTEvMjIvMjAvMjQvNDYxMmMxMTctMmQ1Ny00YWYyLWFlZTctMjBjOWVlOWQzNTIzL1NlbHRyb2wgSW5jLiAtIGJhbm5lcjEucG5nIl1d?sha=50e4dbf0b4bc3a3a"></a>
                <a class="left carousel-control" data-slide="prev" href="#carousel"><i class="fa fa-angle-left fa-3x" style="margin: 0; position: absolute; top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);"></i></a>
                <a class="right carousel-control" data-slide="next" href="#carousel"><i class="fa fa-angle-right fa-3x" style="margin: 0; position: absolute; top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);"></i></a></div>
            <div class="carousel-item active"><a href="https://seltrol.kyklo.co/buyers/sign_in" target="_blank">
                <img class="img-fluid" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDEvMTEvMjIvMjAvMzYvMjRlZTE0ZjUtZDY4Zi00MjNmLTgwNTEtM2FiOWYyNGQ5ZDc1L1NlbHRyb2wgSW5jLiAtIGJhbm5lcjIucG5nIl1d?sha=f35bce60c012f94d"></a>
                <a class="left carousel-control" data-slide="prev" href="#carousel"><i class="fa fa-angle-left fa-3x" style="margin: 0; position: absolute; top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);"></i></a>
                <a class="right carousel-control" data-slide="next" href="#carousel"><i class="fa fa-angle-right fa-3x" style="margin: 0; position: absolute; top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);"></i></a></div>
            <div class="carousel-item"><a href="https://seltrol.kyklo.co/buyers/sign_in" target="_blank">
                <img class="img-fluid" src="https://cdn.kyklo.co/assets/W1siZiIsIjIwMjEvMDEvMTEvMjIvMjAvNTMvZmRhMjI4MjUtN2QyMi00NTI4LWFiZWUtNDUwMzUyNDZjNTVlL1NlbHRyb2wgSW5jLiAtIGJhbm5lcjMucG5nIl1d?sha=5578d6ccfd13c235"></a>
                <a class="left carousel-control" data-slide="prev" href="#carousel"><i class="fa fa-angle-left fa-3x" style="margin: 0; position: absolute; top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);"></i></a>
                <a class="right carousel-control" data-slide="next" href="#carousel"><i class="fa fa-angle-right fa-3x" style="margin: 0; position: absolute; top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);"></i></a></div>
        </div>
    </div>
</div>

<style type="text/css">
    .align-middle{
        margin: 0; 
        position: absolute; 
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>